@import url(./materialdesignicons.css);

:root {
    --text: rgb(27, 27, 27);
    --app_bg: rgb(250, 250, 250);
    --box_bg: white;
    --list_odd: rgb(231, 231, 231);

    --blue-accent: rgb(78, 138, 200);
    
    --border_color: rgb(206, 206, 206);

    --button_g: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%);
    --button_g_hover: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(231, 231, 231) 100%);
    --button_g_active: linear-gradient(180deg, rgb(245, 245, 245) 0%, rgb(213, 213, 213) 100%);

    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;

    color: var(--text);

    user-select: none;
}

body {
    background: var(--app_bg);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

button, div.button {
    border: 1px solid var(--border_color);
    border-radius: 4px;
    outline: none;

    background: var(--button_g);

    user-select: none;

    font-family: inherit;
}

button:hover, div.button:hover {
    background: var(--button_g_hover);
}

button:active, div.button:active {
    transform: scale(0.95);

    background: var(--button_g_active);
}

button {
    padding: 0.4rem 0.5rem;
}

div.button.big {
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.display_none {
    display: none;
}

.mt_1 {
    margin-top: 1rem;
}

.f_center {
    text-align: center;
}

.fs_1 {
    font-size: 1rem;
}

.fs_1-25 {
    font-size: 1.25rem;
}

.fs_2 {
    font-size: 2rem;
}

.p_container {
    padding: 2rem;
}

.grid {
    display: grid;
}

.row_gap_2 {
    row-gap: 2rem;
}

.column_gap_1 {
    column-gap: 1rem;
}

.column_gap_1 > * {
    grid-area: 1 / auto / 1 / auto;
}

.column_gap_1_3 {
    column-gap: 1rem;

    grid-template-columns: 1fr 1fr 1fr;
}

.column_gap_1_2 {
    column-gap: 1rem;

    grid-template-columns: 1fr 1fr;
}

.recent_item_even, .recent_item_odd {
    padding: 0.35rem 0.5rem;
}

.recent_item_odd {
    background: var(--list_odd);
}

.recent_item_even:hover, .recent_item_odd:hover {
    background: var(--blue-accent);
    color: white;

    cursor: pointer;
}

.recent_item_even:hover > .mdi, .recent_item_odd:hover > .mdi {
    color: white;
}

.file_ide_grid {
    display: grid;
    
    grid-template-rows: 2rem auto;

    height: 100vh;
}

.file_ide_grid_terminal {
    grid-template-rows: 2rem 1fr auto;
}

.menu {
    height: 2rem;
}

.menu_button {
    height: 2rem;
    
    padding: 0 0.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu_button:hover:not(.menu_button_unclickable) {
    background: grey;
}

.menu_button:hover:not(.menu_button_unclickable) *, .menu_button:hover:not(.menu_button_unclickable) {
    color: white;
}

.menu_button_unclickable {
    color: rgb(175, 175, 175);
}

.main_menu_container {
    position: fixed;
    top: 2rem;
    z-index: 5;

    width: 100%;
    height: calc(100vh - 2rem);

    background: rgba(0, 0, 0, 0.75);

    padding: 2rem;
}

.main_menu {
    padding: 2rem;

    background: var(--app_bg);

    border-radius: 1.2rem;

    display: inline-block;

    z-index: 7;
}

.main_menu > div > img {
    width: 4rem;
    height: 4rem;
}

#ide {
    width: 100%;
    height: 100%;
}

#terminal {
    width: 100%;
    height: 20rem;
}